html, body {
  height: 100%;
  margin: 0;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sudoku-cell.top-border {
  border-top: 1px solid #000 !important;
}

.sudoku-cell.bottom-border {
  border-bottom: 1px solid #000 !important;
}

.sudoku-cell.left-border {
  border-left: 1px solid #000 !important;
}

.sudoku-cell.right-border {
  border-right: 1px solid #000 !important;
}

.social-icons {
  display: flex;
  gap: 10px;

  justify-content: center;
}

.social-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #222;
}

.social-icon:hover {
  transform: scale(1.2);
}

