html, body {
  height: 100%;
  margin: 0;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it covers the full viewport height */
}
.sudoku-board{
  border: 1px solid #000;
}
.sudoku-cell {
  border: 1px solid #e8e8e8;
}

.sudoku-cell.top-border {
  border-top: 1px solid #000;
}

.sudoku-cell.bottom-border {
  border-bottom: 1px solid #000;
}

.sudoku-cell.left-border {
  border-left: 1px solid #000;
}

.sudoku-cell.right-border {
  border-right: 1px solid #000;
}
.outer-top-border {
  border-top: 1px solid black;
}

.outer-bottom-border {
  border-bottom: 1px solid black;
}

.outer-left-border {
  border-left: 1px solid black;
}

.outer-right-border {
  border-right: 1px solid black;
}
.social-icons {
  display: flex;
  gap: 10px;

  justify-content: center;
}

.social-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #222;
}

.social-icon:hover {
  transform: scale(1.2);
}

